<!-- Loop over each post in the posts array -->
{{#each posts as |post| }}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card rounded-0 col-10 my-4 px-0">
            <div class="card-body homepage p-5">
                <blockquote class="blockquote mb-0">
                    <p>{{format_date date_created}}</p>
                    <br>
                    <a href="/post/{{id}}"><h2>{{title}}</h2></a>
                    <br>
                    <div class="row">
                        <p class="col-10 text-truncate">{{content}}</p>
                        <a class="col-12 col-lg-2 read-more" href="/post/{{id}}"><p class="un">read more →</p></a>
                    </div>
                    <footer class="blockquote-footer">Written by <cite title="Source Title">{{user.username}}</cite></footer>
                    <br>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{{/each}}
